#title {
  font-family: Helvetica;
  color: white;
  padding: 2rem;
  width: 70%;
  margin:2rem;
  float: left;
  position: absolute;
  bottom: 30px;
}
h1 {
  margin-top: 0;
  letter-spacing: .3rem;
  font-weight: bold;
}
#title > h1 > small{
  color: white;
}
